@import "../../colors.scss";

.AboutStation {
    background-color: light-dark($foreground-light, $foreground-dark);
    width: 100%;
    margin: 15px;
    text-align: center;
    z-index: 1;
    position: absolute;
    color: white;
    height: min-content;
    border-radius: 15px;
    padding-bottom: 15px;
    &__image {
        img {
            max-width: 100%;
        }
    }
    &__name {
        padding: 5px;
    }
    &__description {
        font-size: medium;
    }
}
