@import "../../colors.scss";

.queues-list {
    padding: 0px;
}
.queues {
    margin: 0px 15px;
}

.queue {
    z-index: 1;
    background-color: light-dark($foreground-light, $foreground-dark);
    position: relative;
    // top: -15px;
    // transform: translateY(-50%);
    color: light-dark($main-font-light, $main-font-dark);
    height: min-content;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
        padding: 0px 10px;
        text-align: left;
    }
    &__text {
        margin: 3px 0px;
        padding: 0px 10px;
        font-size: medium;
    }
    &__content {
        align-items: center;
        justify-content: space-between;
        &__arrow {
        }
    }
    &__state {
        font-size: medium;
        background-color: $green-branded;
        text-align: center;
        width: fit-content;
        padding: 3px 20px;
        margin: 8px 10px;
        margin-bottom: 3px;
        border-radius: 15px;
    }
    &--Completed {
        color: $gray-color;
    }
}
