@import "../../colors.scss";

.TicketWidget {
    &__inner {
        background-color: $green-branded;
        position: relative;
        // top: -15px;
        // transform: translateY(-50%);
        color: white;
        height: min-content;
        padding: 15px;
        margin: 0 15px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }
    &__name {
        // font-size: medium;
        text-align: left;
    }
    &__text {
        font-size: medium;
    }
    &__content {
        align-items: center;
        justify-content: space-between;
        &__arrow {
        }
    }
    .Ticketwidget__time > *,
    .TicketWidget__ticket > * {
        display: inline;
    }
    .TicketWidget__ticketCode,
    .TicketWidget__timeNumber {
        font-weight: bold;
    }
}

@media screen and (max-width: 460px) {
    .TicketWidget__inner {
        justify-content: left;
    }
}
