@import "../../colors.scss";

.TimeRemaining {
    width: 100%;
    transform: translateY(50%);
    padding: 0 20px;

    &__inner {
        text-align: center;
        z-index: 2;
        background-color: $green-branded;
        position: absolute;
        color: white;
        height: min-content;
        border-radius: 15px;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        position: relative;
        padding: 10px;
    }
    &__time {
        font-weight: bold;
    }
}
