@import "../../colors.scss";

.RegistrationCode {
    z-index: 1;
    background-color: $yellow-branded;
    color: $black-branded;
    width: 100%;
    top: 0;
    text-align: center;

    position: relative;
    &__num {
        font-size: 64px;
        font-weight: bold;
        width: 100%;
    }
    &__text {
    }
    &__content {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 50px 0 85px 0;
    }
    &__header {
        position: relative;
    }
    &__back {
        position: absolute;
        left: 30px;
        cursor: pointer;
    }
    &__event-title {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px 0;
        justify-content: center;
    }
}
