@import "../../colors.scss";

input {
    outline: none;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.auth {
    &__form {
        display: grid;
        gap: 15px;
    }
    &__btn {
        border: none;
        outline: none;
        background: $green-branded;
        padding: 15px;
        border-radius: 10px;
        cursor: pointer;
            display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    }

    &__inner {
        display: grid;
        gap: 20px;

    }

    .isHaveAccaunt {
        cursor: pointer;
            display: flex;
    align-items: center;
    gap: 10px;
    }
}