.TicketPage__fixed {
    z-index: 1;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; // или max-width: 1200px; если хочешь фиксированную ширину
    padding: 0 15px; // чтобы не упиралось в края экрана
    display: grid;
    gap: 10px;
}
