@import "../../../colors.scss";

.StationPanelPage {
    display: flex;
    flex-direction: row;
    &__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__right {
        width: 100%;
    }
    &__QueueTextHead {
        text-align: center;
        font-size: x-large;
    }
    &__QRCode {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
