@import "../../../../../colors.scss";

.StationPanelName {
    background-color: light-dark($foreground-light, $foreground-dark);
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 30px 40px;
    border-radius: 15px;
    font-weight: bold;
    color: light-dark($main-font-light, $main-font-dark);
}
