@import "../../../../../colors.scss";

.StationName {
    &__inner {
        z-index: 1;
        background-color: light-dark($foreground-light, $foreground-dark);
        position: relative;
        // top: -15px;
        // transform: translateY(-50%);
        color: light-dark($main-font-light, $main-font-dark);
        height: min-content;
        padding: 15px;
        margin: 0 15px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__name {
        // font-size: medium;
        text-align: left;
    }
    &__text {
        font-size: medium;
    }
    &__content {
        align-items: center;
        justify-content: space-between;
        &__arrow {
        }
    }
}
