$background-dark: #2b2b2b;
$main-font-dark: #ffffff;
$foreground-dark: #404040;

$background-light: #f0f0f0;
$main-font-light: #000000;
$foreground-light: #ffffff;

$gray-color: #949495;

$yellow-branded: #ffdc31;
$black-branded: #333333;
$green-branded: #4bc249;
$purple-branded: #5949c2;
$purple-button: #7a6ce0;
