@import "colors.scss";

:root {
    color-scheme: light dark;
}
* {
    box-sizing: border-box;
}

body {
    background-color: light-dark($background-light, $background-dark);
    color: light-dark($main-font-light, $main-font-dark);
    font-size: large;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.container {
    max-width: 526px;
    margin: 0 auto;
}
.wrapper {
    // max-width: 526px;
    margin: 0 auto;
}

main {
    display: grid;
    // align-items: center;
    // justify-content: center;
    // height: 100vh;
    gap: 40px;
}

// .MyHeader {
//     background-color: #404040;
//     color: white;
//     align-items: center;
//     justify-content: space-between;
//     margin: 10px;
//     gap: 20px;
//     border-radius: 10px;
//     display: flex;
//     flex-direction: row;
// }
// ul.menubar {
//     float: left;
//     flex-direction: row;
// }
